html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f2235;
}

nav {
    background-color: #1f2235;
}

.amike {
    font-size: 40px;
    display: inline-block;
    margin-left: 30px;
}

.amike a {
    text-decoration: none;
}

.amike a:hover {
    color: #fe4a57;
}

.white {
    color: white;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 700px;
}

li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    margin: 0 25px;
}

ul li a:hover {
    color: #fe4a57;
}

header {
    background-color: #23263a;
}

.hero {
    padding: 50px 200px;
    margin: 20px 300px;
    display: block;
}

.btn {
    background-color: #23263a;
    border: 2px solid #fe4a57;
    padding: 10px 25px;
    border-radius: 25px;
}

.link {
    margin: 20px 10px;
    border: 2px solid #fe4a57;
    padding: 10px 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.social-links {
    padding: 20px 0;
}

.red {
    color: #fe4a57;
}

.dark {
    background-color: #1f2235;
}

.light {
    background-color: #23263a;
}

.skill {
    width: 350px;
    height: 220px;
    display: inline-block;
    margin: 10px 30px;
    border-radius: 12px;
    padding: 20px 30px;
}

input,
textarea {
    border-radius: 12px;
}

#contact {
    margin-left: 400px;
}

input,
textarea {
    width: 70%;
    border: 1px solid white;
    margin: 10px 0;
}